<div>
  <h1 class="display-4 mb-4">Contact Us</h1>
  <div class="row">
    <div class="col-md-6">
      <p>Duis justo lectus, dictum non aliquet sit amet, vulputate eu ex. Quisque vestibulum sed tortor ut congue. Sed elementum gravida sollicitudin. Morbi justo metus, blandit non porttitor at, sollicitudin sit amet ligula. Suspendisse quis sagittis velit, sed auctor dui. Etiam rhoncus mattis odio, ac congue massa condimentum id. Duis lobortis porta purus, eu consequat dui congue ut.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Street Address: 4070 Blackwell Street</li>
        <li class="list-group-item">City: Anchorage
        <li class="list-group-item">State: Alaska</li>
        <li class="list-group-item">Zipcode: 99515</li>
        <li class="list-group-item">Telephone Number: 907-344-5242</li>
        <li class="list-group-item">Mobile Number: 907-306-9734</li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-form></app-form>
    </div>

  </div>
</div>