<base href="/">
<div class="page-wrapper">
  <nav class="navbar sticky-top navbar-light bg-light justify-content-end nav-pills">
    <a class="navbar-brand" routerLink="">LOGO</a> 
    <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
    <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
  <div class="p-5 content-wrapper">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
