
<div class="row text-center">
  <div class="card col-md-4">
    <span>
      <fa-icon [icon]="faDatabase"></fa-icon>
    </span>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  	
  <div class="card col-md-4">
    <span>
      <fa-icon [icon]="faCubes"></fa-icon>
    </span>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card col-md-4">
    <span>
      <fa-icon [icon]="faFlask"></fa-icon>
    </span>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
